:root {
  --border-style: 5px solid white;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  font-weight: 600;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 600px;
  height: 600px;
  margin: 50px auto;
  text-align: center;
}

.score {
  display: inline-block;
}

table {
  border-collapse: collapse;
}

span {
  color: #fff;
  font-size: 110px;
}

h1 {
  text-align: center;
}

td {
  width: 25%;;
  height: 150px;
  text-align: center;
  cursor: pointer;
}

.horizontal {
  border-bottom: var(--border-style);
}

.vertical {
  border-left: var(--border-style);
  border-right: var(--border-style);
}

.top {
  border-top: var(--border-style);
}

.score {
  margin: 0 20px;;
}